body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf5;
  color: #333;
}

header {
  background-color: #f6d9ed;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}

.tagline {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  background: #c79b6c;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
}

section {
  padding: 50px 20px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.buy {
  display: inline-block;
  margin-top: 10px;
  background: #c79b6c;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
}

.gallery-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  border-radius: 15px;
}

footer {
  background: #f6e6d9;
  padding: 30px;
  text-align: center;
}
